#bg{
    background-image: url("../images/dog5.jpg");
    width: 100%;
    height: 826px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
nav{
    background: none;
    background-image: none;
    border: none;
}
menu{
    background: none;
}
menu