*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

#main{
    display:  flex;
    width: 90%;
    height: 500px;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

#fotoja{
    width: 50%;
}


#secondary{
    width: 50%;
}

#fotoja img{
    max-width: 100%;
    height: auto;
}

li, a, button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#acf0f1;
    text-decoration: none;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor:pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding:0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#0088a9
}

button{
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}


.right-sidebar{
    width: 39%;
    height:400px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%); 
    background-image: url(../images/dog1.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px;
    animation: slider 9s infinite linear;
    border:1px solid black;
    
}

@keyframes slider{
    0%{background-image: url(../images/dog1.jpg);
        background-size: 100% 100%;}
    35%{background-image: url(../images/dog2.jpg);
        background-size: 100% 100%;}
    75%{background-image: url(../images/dog3.jpeg);
        background-size: 100% 100%;}
}



